APP_ENV=dev
APP_SECRET=change_me_to_random_32_char_string
DATABASE_URL="postgresql://academy_user:academy_pass@127.0.0.1:15432/academy_db?serverVersion=15&charset=utf8"
REDIS_URL="redis://localhost:16379"
